<%= form_for(@employee, class: "form") do |f| %>
  <% if @employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% @employee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :grade %>
    <%= f.select :grade, options_for_select([['Low', 0],['Medium', 1],['High', 2]], selected: f.object.grade) %>
  </div>
  <div class="form-group">
    <%= f.label :area %>
    <%= f.collection_select :area_id, Area.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit "Save", class: "btn btn-default" %>
  </div>
<% end %>
