<%= form_for([@employee, @workmonth], class: "form-horizontal") do |f| %>
  <% if @workmonth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workmonth.errors.count, "error") %> prohibited this workmonth from being saved:</h2>

      <ul>
      <% @workmonth.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Employee: <%= @workmonth.employee.try(:name) %></h3><br />
  <%= f.hidden_field :employee_id, value: @workmonth.employee.id%>
  <div class="form-group">
    <label>Year</label>
    <%= f.select :year, options_for_select(ten_years_array) %>  
  </div>
  
  <div class="form-group">
    <label>Month</label>
    <%= f.select :month, options_for_select(months) %>
  </div>
  <div class="actions">
    <%= f.submit 'Create Assignment' %>
  </div>
<% end %>
