<button type="button" class="close-month hide close">x</button>
<h1>{{monthName}}<h1>
<h4>Employees<h4>



<!-- Nav tabs -->
<ul class="nav nav-tabs">
{{#each areas}}
  <li class="area-tab"><a href="#{{area.id}}" data-toggle="tab">{{area.name}}</a></li>
{{/each}}
</ul>

<!-- Tab panes -->
<div class="tab-content col-md-4">
{{#each areas}}
  <div class="tab-pane area-content"  id="{{area.id}}">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Grade</th>
      </thead>
      <tbody>
        {{#each emps}}
          <tr>
            <td>{{name}}</td>
            <td>{{gradeStr grade}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}
</div>